/* make all buttons 20 by 20 pixels with white text and green background and a 10 pixel margin */
button {
  background: blue;
  color: #ccc;
  margin: 5px; }

#links {
  background: #ccc;
  color:black;
}

#alerty {
background: orange;
color: black;
display:none;


}

#formthing{
background: #008fd5;
color: white;

}

#food{
  background: white;
  color: black;
}
